<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="utf-8">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3d7dc5c5-e1ba-4602-85e9-09ebd053ec6c&lang=ru_RU" type="text/javascript"></script>
<script src="/js/intlTelInput.min.js" charset="utf-8"></script>
  
</head>
<body>
    <span *ngIf="department">
    <h1>Подробнее</h1>

<div>
    
    <h4>Отдел: {{department.nameDepartment}}</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Название отдела:
        </dt>
        <dd class = "col-sm-10">
           {{department.nameDepartment}}
        </dd>
        <dt class = "col-sm-2">
            Телефон:
        </dt>
        <dd class = "col-sm-10">
           {{department.phoneNumber}}
        </dd>
        <dt class = "col-sm-2">
            Адрес отдела:
        </dt>

    </dl>
</div>


    <div id="map" style="width:600px; height:250px;"></div>
  

<div>
    
    <a [routerLink]="['/department-page/update', department.id]">Изменить</a> <span> | </span>
    
    
    <a [routerLink]="['/department-page']">Вернуться назад</a>
</div>
<br />

<table>
    <tbody>

        <tr>
            <td>
                <h3>Должности внутри отдела &nbsp; &nbsp;</h3>
            </td>
            <td>
                <h5>
                 
                        <a [routerLink]="['/department-page/addPost', departmentId]">   Добавить должность</a>
                    

                </h5>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Должность
            </th>
            <th>
                Общее количество мест
            </th>
            <th>
                Свободных мест
            </th>
            <th>
                Занятых мест
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="postOfDepartments">
      
       
      
            <tr *ngFor="let postOfDep of postOfDepartments">
                {{zeroClose()}}
                <td>
                  {{postOfDep.post.namePost}}
                </td>
                <td>
                  {{postOfDep.count}}
                </td>
                <td>
                  {{openPlace(postOfDep.count, closePlace(postOfDep, depAndPostsOfWorker))}}
                </td>
                <td>
                    {{zeroClose()}}
                   {{closePlace(postOfDep, depAndPostsOfWorker)}}
                
                </td>
                <td>
                  
                    <a [routerLink]="['/department-page/updatePost', postOfDep.id]">Изменить количество мест</a> <span> | </span>
                    

                    <a [routerLink]="['/department-page/descriptionPost', postOfDep.id]">Подробнее</a>

                    
                    <span> | </span>  <a [routerLink]="['/department-page/deletePost', postOfDep.id]">Удалить из отдела</a>
                    
                </td>


            
            </tr>

       
    </tbody>
</table>

<table>
    <tbody>

        <tr>
            <td>
                <h3>Сотрудники внутри отдела &nbsp; &nbsp;</h3>
            </td>
            <td>
                <h5>
                 
                        <a [routerLink]="['/department-page/addWorker/', department.id]">   Добавить сотрудника</a>
                    
                    
                </h5>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Сотрудник
            </th>
            <th>
                Должность
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
       

            <tr *ngFor="let worker of workersOnDepartment">
                <td>
                    
                    <a [routerLink]="['/worker-page/worker-description-page/', worker.worker.id]">
                        {{worker.worker.surname}} {{worker.worker.name}} {{worker.worker.patronymic}}
                    </a>
                   
                </td>
                <td>
                    {{worker.post.namePost}}
                </td>
                    <td>
                    
                    <a [routerLink]="['/worker-page/update/', worker.worker.id]">Изменить</a> <span> | </span>
                    
                   
                        <a >Подробнее</a>

                   
                      <span> | </span>  <a >Удалить из отдела</a>
                    
                    </td>


              
            </tr>

      
    </tbody>
</table>
</span>
</body>
</html>