<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Добавление данных медицинской книги</h1>

    <span *ngIf="worker">
<div class="row">
    <div class="col-md-4">
        <form (ngSubmit)="onSubmitMedicalBook()"  #myForm="ngForm">
            <input type="hidden"  id="workerId" name="workerId" [value]="worker.id" [(ngModel)]="formData.worker.id" required />
            <div class="form-group">
                
                <h4>
                    <label style="width:700px">Сотрудник: {{worker.surname}} {{worker.name}} {{worker.patronymic}}</label>
                </h4>
          
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Место обследования</label>
                <input  class="form-control" id="placeExam" name="placeExam" [(ngModel)]="formData.placeExam" required/>
                <span asp-validation-for="dateRecord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Дата обследования</label>
                <input type="date" class="form-control" id="dateExam" name="dateExam" [(ngModel)]="formData.dateExam" required/>
                <span asp-validation-for="nameWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Заключение</label>
                <input  class="form-control" id="conclusion" name="conclusion" [(ngModel)]="formData.conclusion" required/>
                <span asp-validation-for="intelligenceWork" class="text-danger"></span>
            </div>
           <hr/>
            <div class="form-group">
                <input type="submit" style="margin-top:30px" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a [routerLink]="['/worker-page/worker-description-page/', worker.id]">Вернуться назад</a>
</div>
</span>
</body>
</html>