<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="pb-5">Добавление сотрудника в отдел: Подтверждение</h1>
<h2>
    Сотрудник: {{worker.surname}} {{worker.name}} {{worker.patronymic}}
</h2>

<hr />
<form (ngSubmit)="onSubmitConfirmWorker()"  #myForm="ngForm">

    <div class="form-horizontal">
        <div class="row">
            
        </div>

        <div class="row">
           <h2 style="color:red"> <label class="col-form-label col-md-2">Отдел</label></h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Название
                        </th>
                        <th>
                            Номер телефона
                        </th>
                        <th>
                            Адрес отдела
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
                        <tr>
                            <td>
                               {{department.nameDepartment}}
                            </td>
                            <td>
                               {{department.phoneNumber}}
                            </td>
                            <td>
                              {{department.adressOfDepartment.city}} {{department.adressOfDepartment.street}} {{department.adressOfDepartment.house}}
                            </td>
                           
                        </tr>
                    
                </tbody>
            </table>
        </div>

        <div class="row">
            <h2 style="color:red">
               Должность внутри отдела
            </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Название
                        </th>
                        <th>
                            Начальная зарплата
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                            <td>
                            {{post.namePost}}
                            </td>
                            <td>
                            {{post.salary}}
                            </td>
                            
                        </tr>
                    
                </tbody>
            </table>
        </div>

       
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" id="departmentId" name="departmentId" [value]="department.id" [(ngModel)]="formData.department.id" required />
                <input type="hidden" id="postId" name="postId" [value]="post.id" [(ngModel)]="formData.post.id" required />
                <input type="hidden" id="workerId" name="workerId" [value]="worker.id" [(ngModel)]="formData.worker.id" required />
               
                <input type="submit" value="Подтвердить" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
</body>
</html>