<div style="margin-left: 100px;">
    <h1>Добавить сотрудника</h1>

<h4>Заполните все данные формы сотрудника. <span style="color:rgb(52,122,182)">(Все необязательные поля подчеркнуты)</span></h4>
<hr style="width: 1276px;" />

<div class="ourInform">
     <form (ngSubmit)="onSubmit()"  #myForm="ngForm">
        <input type="hidden" id="dismiss" name="dismiss" class="form-control" style="width:250px;" value="false" [(ngModel)]="formData.dismiss" required/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="boxImage">

            <div class="form-group">
                
                <div class="mt-4">
                    <h3>Изображение сотрудника</h3>
                    <input type="file" name="upload" class="form-control" /><br>
                  
                </div>
            </div>

        </div>
        <div style="margin-left:120px;">

            <div class="name">
                <div style="font-size:18px;display:inline-block;">Имя: </div>
                <div style="font-size:18px; display:inline-block;margin-left: 9px;">
                     <input id="name" name="name" class="form-control" style="width:250px;" [(ngModel)]="formData.name" required/>
                     
                </div>
                <br>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="fio">
                <div style="font-size:18px;display:inline-block;">Фамилия: </div>
                <div style="font-size:18px; display:inline-block; margin-left: 9px;">
                    <input id="surname" name="surname" class="form-control" style="width:250px;" [(ngModel)]="formData.surname" required/>

                </div>
                <br>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="fio">
                <div style="font-size:18px;display:inline-block;text-decoration: underline solid rgb(52,122,182)">Отчество: </div>
                <div style="font-size:18px; display:inline-block;margin-left: 9px;">
                    <input id="patronymic" name="patronymic" class="form-control" style="width:250px;" [(ngModel)]="formData.patronymic" required/>

                </div>
                <br>
                <span asp-validation-for="Middlename" class="text-danger"></span>
            </div>
          

           
        
        </div>
   <div class="lickInform">
        <h5 class="logoLichInform">Личные данные</h5>
        <div class="boxLichInform">
            <div style="margin-top:15px; margin-left:15px;">
                    <div style="color:rgb(108,112,115);display:inline-block;">Дата рождения:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:50px;">
                        <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-control" style="width:300px;" [(ngModel)]="formData.dateOfBirth" required/>

                    </div>
                    <br>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    <br>
                    <div style="color:rgb(108,112,115);display:inline-block;">Пол:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:134px;">
                        <select id="gender" name="gender" class="form-select" style="width:300px;" [(ngModel)]="formData.gender" required>

                            <option value="Мужской">Мужской</option>
                            <option value="Женский">Женский</option>
                        </select>

                    </div>



                    <br>
                    <br>
                    <div>
                    <div style="color:rgb(108,112,115);display:inline-block; position:absolute;">Место Проживания:</div>
                    <div style="color:rgb(108,112,115);display:inline-block;margin-left:170px;">
                        <label asp-for="CityHabitation" class="control-label"> Населенный пункт</label>
                        <input id="city" name="city" class="form-control" style="width:300px;" [(ngModel)]="formData.city" required/>
                        <span asp-validation-for="CityHabitation" class="text-danger"></span>
                        <br>
                        <label asp-for="StreetHabitation" class="control-label">Улица</label>
                        <input id="street" name="street" class="form-control" style="width:300px;" [(ngModel)]="formData.street" required/>
                        <span asp-validation-for="StreetHabitation" class="text-danger"></span>
                        <br>
                        <label asp-for="HouseHabitation" class="control-label">Дом</label>
                        <input id="house" name="house" class="form-control" style="width:300px;" [(ngModel)]="formData.house" required/>
                        <span asp-validation-for="HouseHabitation" class="text-danger"></span>

                    </div>
                    </div>
                    
                    


                <h6 style="text-align:center; margin-top:20px;">Данные о семье</h6>

                    <div style="color:rgb(108,112,115);display:inline-block;">Семейное положение:</div>
                    <div style="font-size:18px; display:inline-block;margin-left: 3px;">
                        <select id="familyPosition" name="familyPosition" class="form-select" style="width:300px;" [(ngModel)]="formData.familyPosition" required>

                            <option value="Не в браке">Не в браке</option>
                            <option value="В браке">В браке</option>
                        </select>
                       
                    </div>
                    <br>
                    <br>

                    <div style="color:rgb(108,112,115);display:inline-block;">Количество детей:</div>
                    <div style="font-size:18px; display:inline-block;margin-left:33px;">
                        <input id="countChildren" name="countChildren" class="form-control" style="width:300px;" value="0" [(ngModel)]="formData.countChildren" required/>

                    </div>
                    <br>
                    <span asp-validation-for="Children" class="text-danger"></span>


                    <h6 style="text-align:center; margin-top:20px;">Контактная информация </h6>

                    <div style ="color:rgb(108,112,115);display:inline-block;">Телефон:</div>
                    <div style="font-size:18px; display:inline-block;margin-left:101px;">
                        <input id="phone" name="phone" class="form-control" style="width:300px;" [(ngModel)]="formData.phone" required/>

                    </div>
                    <br>
                    <span asp-validation-for="Phone" class="text-danger"></span>

                    <br>
                    <div style="color:rgb(108,112,115);display:inline-block;text-decoration: underline solid rgb(52,122,182)">Электронная почта:</div>
                    <div style="font-size:18px; display:inline-block;margin-left:22px;">
                        <input id="email" name="email" class="form-control" style="width:300px;" [(ngModel)]="formData.email" required/>

                    </div>
                    <br>
                    <span asp-validation-for="Email" class="text-danger"></span>

               
            </div>
        </div>
    </div>

    <div class="passInform">
        <h5 class="logoPassInform">Паспортные данные</h5>
        <div class="boxPassInform">
            <div style="margin-top:15px; margin-left:15px;">
                    <div style="color:rgb(108,112,115);display:inline-block;">Серия паспорта:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:45px;">
                        <input id="seriesPass" name="seriesPass" class="form-control" style="width:300px;" [(ngModel)]="formData.seriesPass" required/>

                    </div>
                    <br>
                    <span asp-validation-for="SeriesPass" class="text-danger"></span>
                    <br>

                    <div style="color:rgb(108,112,115);display:inline-block;">Номер паспорта:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:40px;">
                        <input id="numberPass" name="numberPass" class="form-control" style="width:300px;" [(ngModel)]="formData.numberPass" required/>

                    </div>
                    <br>
                    <span asp-validation-for="NumberPass" class="text-danger"></span>
                    <br>

                    <div style="color:rgb(108,112,115);display:inline-block;">Кем выдан:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:82px;">
                        <input id="issuedByWhom" name="issuedByWhom" class="form-control" style="width:300px;" [(ngModel)]="formData.issuedByWhom" required/>

                    </div>
                    <br>
                    <span asp-validation-for="IssuedByWhom" class="text-danger"></span>
                    <br>

                    <div style="color:rgb(108,112,115);display:inline-block;">Дата выдачи:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:68px;">
                        <input type="date" id="dateOfIssue" name="dateOfIssue" class="form-control" style="width:300px;" [(ngModel)]="formData.dateOfIssue" required/>

                    </div>
                    <br>
                    <span asp-validation-for="DateOfIssue" class="text-danger"></span>
                    <br>

                    <div style="color:rgb(108,112,115);display:inline-block;">Код подразделения:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:17px;">
                        <input id="divisionCode" name="divisionCode" class="form-control" style="width:300px;" [(ngModel)]="formData.divisionCode" required/>

                    </div>
                    <br>
                    <span asp-validation-for="DivisionCode" class="text-danger"></span>
                    <br>
              

                <h6 style="text-align:center;">СНИЛС</h6>

                    <div style="color:rgb(108,112,115);display:inline-block;">Номер СНИЛС:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:64px;">
                        <input id="numberSnils" name="numberSnils" class="form-control" style="width:300px;" [(ngModel)]="formData.numberSnils" required/>

                    </div>
                    <br>
                    <span asp-validation-for="NumberSnils" class="text-danger"></span>
                    <br>

             

                <h6 style="text-align:center;">ИНН </h6>

                    <div style="color:rgb(108,112,115);display:inline-block;">Номер ИНН:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:72px;">
                        <input id="numberInn" name="numberInn" class="form-control" style="width:300px;" [(ngModel)]="formData.numberInn" required/>

                    </div>
                    <br>
                    <span asp-validation-for="NumberInn" class="text-danger"></span>
                    <br>

              
            </div>
        </div>
    </div>

    <div class="boxDescWorker">
            <h5 class="logoDesc">Описание сотрудника (дополнительная информация)</h5>
        <div class="descWorker" style="height: 250px;">

                <div class="form-group">
                    <label  class="control-label" style="margin-bottom:5px;"></label>
                    <textarea id="descriptionWorker" name="descriptionWorker" class="form-control" style="height: 200px;" [(ngModel)]="formData.descriptionWorker" required></textarea>
                    <span asp-validation-for="DescriptionWorker" class="text-danger"></span>
                </div>
             
        </div>
    </div>

        <div class="boxMilitaryWorker">
            <h5 class="logoMilitary">Данные военной книги</h5>
            <div class="militaryWorker">
                <div style="margin-top:15px; margin-left:15px;">

                 <div style="color:rgb(108,112,115);display:inline-block;">Звание:</div>
                <div style="font-size:18px; display:inline-block; margin-left:148px;">
                        <input id="militaryTitle" name="militaryTitle" class="form-control" style="width:300px;" [(ngModel)]="formData.militaryTitle" required/>

                </div>
                <br>
                    <span asp-validation-for="military_title" class="text-danger"></span>
                <br>
                

                <div style="color:rgb(108,112,115);display:inline-block;">Категория годности:</div>
                <div style="font-size:18px; display:inline-block; margin-left:54px;">
                        <select id="shelfLife" name="shelfLife" class="form-select" style="width:300px;" [(ngModel)]="formData.shelfLife" required>
                            <option value=""></option>
                            <option value="А1">А1</option>
                            <option value="А2">А2</option>
                            <option value="А3">А3</option>
                            <option value="А4">А4</option>
                            <option value="Б1">Б1</option>
                            <option value="Б2">Б2</option>
                            <option value="Б3">Б3</option>
                            <option value="Б4">Б4</option>
                            <option value="В">В</option>
                            <option value="Г">Г</option>
                            <option value="Д">Д</option>
                        </select>

                </div>
                <br>
                <span asp-validation-for="shelf_life" class="text-danger"></span>
                <br>


                    <div style="color:rgb(108,112,115);display:inline-block;">Категория запаса:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:72px;">
                        <select id="stockCategory" name="stockCategory" class="form-select" style="width:300px;" [(ngModel)]="formData.stockCategory" required>
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          
                        </select>

                    </div>
                    <br>
                    <span asp-validation-for="stock_category" class="text-danger"></span>
                    <br>

                    <div style="color:rgb(108,112,115);display:inline-block;">Состав:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:149px;">
                        <input id="profile" name="profile" class="form-control" style="width:300px;" [(ngModel)]="formData.profile" required/>

                    </div>
                    <br>
                    <span asp-validation-for="profile" class="text-danger"></span>
                    <br>

                    <div style="color:rgb(108,112,115);display:inline-block;">ВУС:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:170px;">
                        <input id="vus" name="vus" class="form-control" style="width:300px;" [(ngModel)]="formData.vus" required/>

                    </div>
                    <br>
                    <span asp-validation-for="vus" class="text-danger"></span>
                    <br>

                    <div style="color:rgb(108,112,115);display:inline-block;">Название коммисариата:</div>
                    <div style="font-size:18px; display:inline-block; margin-left:17px;">
                        <input id="nameKomis" name="nameKomis" class="form-control" style="width:300px;" [(ngModel)]="formData.nameKomis" required/>

                    </div>
                    <br>
                    <span asp-validation-for="name_kommis" class="text-danger"></span>
                    <br>



            </div>
            </div>
        </div>
        <div class="form-group" style="position:center; margin-left: 120px;">
            <input type="submit" value="Добавить" style="margin-top: 20px" class="btn btn-primary" />
        </div>
    </form>
</div>


<div style="margin-left: 120px; ">
    <a [routerLink]="['/worker-page']">Вернуться назад</a>
</div>
</div>