<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отделы</title>
</head>
<body>
    <h3 style="text-align:center; margin-top: 20px;">Отделы компании</h3>

    <hr style="width:100px; margin: auto;" />
   
        <p style="text-align:center;">
            <a [routerLink]="['/department-page/create']">Добавить отдел</a>
        </p> 

        <div class="middle">
           <tr *ngFor="let department of departments">
                <a class="boxDepLink" >
                    <div class="boxDepartment">

                        <div class="descriptionDep">

                            <div style="display:inline-block; width:300px;">
                                <div class="nameDepartment"> {{department.nameDepartment}}</div>
                                <div class="numberWorkers">
                                    Cотрудников:
                                   
                                </div>
                            </div>

                            <div style="display:inline-block; margin-left:10px; width:260px;">
                                <div class="phoneDep">{{department.phoneNumber}}</div>
                                <div class="adressDep">{{department.adressOfDepartment.city}}, {{department.adressOfDepartment.street}}, {{department.adressOfDepartment.house}}</div>
                            </div>

                                <div style="display:inline-block;">
                                    <a  class="btn btn-primary" style="margin-top:-30px;">Добавить сотрудника</a> 
                                    <a  class="btn btn-primary" style="margin-top:-30px; margin-left: 10px;">Изменить</a>
                                    <a  class="btn btn-danger" style="margin-top:-30px; margin-left: 10px;">Удалить</a>
                                </div>

                        </div>

                    </div>
                </a>
            </tr>
            
        </div>
</body>
</html>
