<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Подробнее</h1>

<div>
    <h4>Адрес отдела</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Населенный пункт:
        </dt>
        <dd class = "col-sm-10">
            {{adressofdepartment.city}}
        </dd>
        <dt class = "col-sm-2">
            Улица:
        </dt>
        <dd class = "col-sm-10">
            {{adressofdepartment.street}}
        </dd>
        <dt class = "col-sm-2">
            Дом
        </dt>
        <dd class = "col-sm-10">
            {{adressofdepartment.house}}
        </dd>
    </dl>
</div>
<div>
   
        <a [routerLink]="['/adressofdepartment-page/update', adressofdepartment.id]">Изменить</a> <span> | </span>
    
    <a [routerLink]="['/adressofdepartment-page']">Вернуться назад</a>
</div>
</body>
</html>